{"swagger":"2.0","info":{"version":"1.2.1945-RELEASE_SANDBOX_BRA_bugfix_0610_807fbde8.5c330d81","title":"openapi API Doc","contact":{"name":"pad","url":"http://g.szanba.ren/pad/","email":"pad@focusmedia.cn"}},"host":"openapi.api.brato.info","basePath":"/","tags":[{"name":"ad-resource-controller","description":"Ad Resource Controller"},{"name":"ad-strategy-api-controller","description":"Ad Strategy Api Controller"},{"name":"auth-server-controller","description":"Auth Server Controller"},{"name":"creative-api-controller","description":"Creative Api Controller"},{"name":"crm-api-controller","description":"Crm Api Controller"},{"name":"email-controller","description":"Email Controller"},{"name":"inventory-api-controller","description":"Inventory Api Controller"},{"name":"translate-controller","description":"Translate Controller"},{"name":"导出","description":"Ad Report Controller"},{"name":"计划单元","description":"计划单元"}],"paths":{"/management/v1/bidder/{bidderId}/creativeGroups":{"get":{"tags":["creative-api-controller"],"summary":"listRtbCreativeGroupByTimeRange","operationId":"listRtbCreativeGroupByTimeRangeUsingGET","produces":["*/*"],"parameters":[{"name":"bidderId","in":"path","description":"bidderId","required":true,"type":"string"},{"name":"pageNo","in":"query","description":"pageNo","required":true,"type":"integer","format":"int32"},{"name":"pageSize","in":"query","description":"pageSize","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"CreativeGroupResponse","$ref":"#/definitions/CreativeGroupResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["creative-api-controller"],"summary":"createCreativeGroup","operationId":"createCreativeGroupUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"bidderId","in":"path","description":"bidderId","required":true,"type":"string"},{"in":"body","name":"rtbCreativeGroup","description":"rtbCreativeGroup","required":true,"schema":{"originalRef":"RtbCreativeGroupRequest","$ref":"#/definitions/RtbCreativeGroupRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"RtbCreativeGroupResponse","$ref":"#/definitions/RtbCreativeGroupResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/management/v1/bidder/{bidderId}/creativeGroups/{id}":{"get":{"tags":["creative-api-controller"],"summary":"queryRtbCreativeGroup","operationId":"queryRtbCreativeGroupUsingGET","produces":["*/*"],"parameters":[{"name":"bidderId","in":"path","description":"bidderId","required":true,"type":"string"},{"name":"id","in":"path","description":"id","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"RtbCreativeGroupResponse","$ref":"#/definitions/RtbCreativeGroupResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/management/v1/creative/batchDownload":{"post":{"tags":["creative-api-controller"],"summary":"batchDownloadCreative","operationId":"batchDownloadCreativeUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"BatchDownLoadCreativeRequest","$ref":"#/definitions/BatchDownLoadCreativeRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"originalRef":"CreativeDownloadResponse","$ref":"#/definitions/CreativeDownloadResponse"}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adgroup/campaign/create":{"post":{"tags":["计划单元"],"summary":"创建计划","operationId":"createAdCampaignUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"CreateAdCampaignRequest","$ref":"#/definitions/CreateAdCampaignRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"CreateAdCampaignResponse","$ref":"#/definitions/CreateAdCampaignResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adgroup/campaign/delete/{adCampaignId}":{"post":{"tags":["计划单元"],"summary":"删除计划","operationId":"deleteAdCampaignUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"adCampaignId","in":"path","description":"adCampaignId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"BaseMsgResponse","$ref":"#/definitions/BaseMsgResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adgroup/campaign/get/{adCampaignId}":{"get":{"tags":["计划单元"],"summary":"获取计划详情","operationId":"getAdCampaignUsingGET","produces":["*/*"],"parameters":[{"name":"adCampaignId","in":"path","description":"adCampaignId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"GetAdCampaignResponse","$ref":"#/definitions/GetAdCampaignResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adgroup/campaign/getAll":{"post":{"tags":["计划单元"],"summary":"获取所有账户计划","operationId":"getAllAdCampaignUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"query","required":false,"type":"string"},{"name":"pageNo","in":"query","required":false,"type":"integer","minimum":1.0,"exclusiveMinimum":false,"format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","minimum":1.0,"exclusiveMinimum":false,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"PageResult«GetCampaignResponse»","$ref":"#/definitions/PageResult«GetCampaignResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adgroup/campaign/getAll/{accountId}":{"get":{"tags":["计划单元"],"summary":"获取账户下所有计划","operationId":"getAccountAdCampaignUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"PageResult«GetCampaignResponse»","$ref":"#/definitions/PageResult«GetCampaignResponse»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adgroup/campaign/getAllByReferId":{"post":{"tags":["计划单元"],"summary":"根据报备号获取所有账户计划","operationId":"getAllAdCampaignByReferIdUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"VnmCampaignRequest","$ref":"#/definitions/VnmCampaignRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"PageResult«VnmCampaignResponse»","$ref":"#/definitions/PageResult«VnmCampaignResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adgroup/campaign/modify":{"post":{"tags":["计划单元"],"summary":"修改计划","operationId":"modifyAdCampaignUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"UpdateAdCampaignRequest","$ref":"#/definitions/UpdateAdCampaignRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"BaseMsgResponse","$ref":"#/definitions/BaseMsgResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adgroup/cancelOrder":{"post":{"tags":["计划单元"],"summary":"取消投放","operationId":"cancelOrderUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"OrderIdRequest","$ref":"#/definitions/OrderIdRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"BaseMsgResponse","$ref":"#/definitions/BaseMsgResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adgroup/createOrder":{"post":{"tags":["计划单元"],"summary":"确认投放广告位","operationId":"createOrderUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"OrderCreateRequest","$ref":"#/definitions/OrderCreateRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"OrderCreateResponse","$ref":"#/definitions/OrderCreateResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adgroup/getOrderDetail":{"post":{"tags":["计划单元"],"summary":"获取订单详情","operationId":"getOrderDetailUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"OrderIdRequest","$ref":"#/definitions/OrderIdRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"OrderDetailResponse","$ref":"#/definitions/OrderDetailResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adgroup/listOrderIds":{"post":{"tags":["计划单元"],"summary":"分页查询订单ID列表","operationId":"listOrderIdsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ca-app-id","in":"header","description":"ca-app-id","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"OrderQueryRequest","$ref":"#/definitions/OrderQueryRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"PageResult«string»","$ref":"#/definitions/PageResult«string»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adgroup/unit/cancel/{adUnitId}":{"post":{"tags":["计划单元"],"summary":"取消单元","operationId":"cancelAdUnitUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"adUnitId","in":"path","description":"adUnitId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"BaseMsgResponse","$ref":"#/definitions/BaseMsgResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adgroup/unit/create":{"post":{"tags":["计划单元"],"summary":"创建单元","operationId":"createAdunitUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"CreateAdUnitRequest","$ref":"#/definitions/CreateAdUnitRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"CreateAdUnitResponse","$ref":"#/definitions/CreateAdUnitResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adgroup/unit/get/{adUnitId}":{"get":{"tags":["计划单元"],"summary":"查看单元详情","operationId":"getAdUnitUsingGET","produces":["*/*"],"parameters":[{"name":"adUnitId","in":"path","description":"adUnitId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"AdUnitDto","$ref":"#/definitions/AdUnitDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adgroup/unit/getAll":{"post":{"tags":["计划单元"],"summary":"获取所有单元","operationId":"getAllAdUnitUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"adCampaignId","in":"query","required":false,"type":"string"},{"name":"pageNo","in":"query","required":false,"type":"integer","minimum":1.0,"exclusiveMinimum":false,"format":"int32"},{"name":"pageSize","in":"query","required":false,"type":"integer","minimum":1.0,"exclusiveMinimum":false,"format":"int32"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"PageResult«GetAdUnitResponse»","$ref":"#/definitions/PageResult«GetAdUnitResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adgroup/unit/getAll/{adCampaignId}":{"get":{"tags":["计划单元"],"summary":"获取计划下所有单元","operationId":"getAdUnitByAdCampaignIdUsingGET","produces":["*/*"],"parameters":[{"name":"adCampaignId","in":"path","description":"adCampaignId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"PageResult«GetAdUnitResponse»","$ref":"#/definitions/PageResult«GetAdUnitResponse»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adgroup/unit/inquire/{adUnitId}":{"get":{"tags":["计划单元"],"summary":"查询单元锁位情况","operationId":"inquireForAdUnitUsingGET","produces":["*/*"],"parameters":[{"name":"adUnitId","in":"path","description":"adUnitId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"InquireInventoryResponse","$ref":"#/definitions/InquireInventoryResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adgroup/unit/modify":{"post":{"tags":["计划单元"],"summary":"修改单元","operationId":"modifyAdUnitUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"ModifyAdUnitRequest","$ref":"#/definitions/ModifyAdUnitRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"AdUnitDto","$ref":"#/definitions/AdUnitDto"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adgroup/unit/reserveAdUnit/{adUnitId}":{"post":{"tags":["计划单元"],"summary":"单元锁位","operationId":"reserveAdUnitUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"adUnitId","in":"path","description":"adUnitId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"ReserveAdUnitResponse","$ref":"#/definitions/ReserveAdUnitResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adgroup/unit/revert/{adUnitId}":{"post":{"tags":["计划单元"],"summary":"撤销锁位","operationId":"revertAdUnitUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"adUnitId","in":"path","description":"adUnitId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"BaseMsgResponse","$ref":"#/definitions/BaseMsgResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adreport/queryDetailByAdCycleId":{"post":{"tags":["导出"],"summary":"按发布期导排片明细","operationId":"queryDetailByAdCycleIdUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"GetPublishDetailRequest","$ref":"#/definitions/GetPublishDetailRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"PageResult«PublishDetailByAdCycleIdReponse»","$ref":"#/definitions/PageResult«PublishDetailByAdCycleIdReponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adreport/queryDetailByLocId":{"post":{"tags":["导出"],"summary":"按点位导排片明细","operationId":"queryDetailByLocIdUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"GetPublishDetailRequest","$ref":"#/definitions/GetPublishDetailRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"PageResult«PublishDetailReponse»","$ref":"#/definitions/PageResult«PublishDetailReponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adresource/getAllStandardCities":{"get":{"tags":["ad-resource-controller"],"summary":"getAllStandardCities","operationId":"getAllStandardCitiesUsingGET","produces":["*/*"],"parameters":[{"name":"productName","in":"query","description":"productName","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"StandardCityResponse","$ref":"#/definitions/StandardCityResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adresource/getBuildingInfos":{"post":{"tags":["ad-resource-controller"],"summary":"getBuildingInfos","operationId":"getBuildingInfosUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"ResourceRequest","$ref":"#/definitions/ResourceRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"BuildingInfoResponse","$ref":"#/definitions/BuildingInfoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adresource/getValidLocationInfos":{"post":{"tags":["ad-resource-controller"],"summary":"getValidLocationInfos","operationId":"getValidLocationInfosUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"resourceRangeRequest","description":"resourceRangeRequest","required":true,"schema":{"originalRef":"ResourceRangeRequest","$ref":"#/definitions/ResourceRangeRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"LocationInfoResponse","$ref":"#/definitions/LocationInfoResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adstrategy/createOrderStrategy":{"post":{"tags":["ad-strategy-api-controller"],"summary":"createOrderStrategy","operationId":"createOrderStrategyUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"CreateOrderStrategyRequest","$ref":"#/definitions/CreateOrderStrategyRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"BaseMsgResponse","$ref":"#/definitions/BaseMsgResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adstrategy/createOrderStrategyWithDate":{"post":{"tags":["ad-strategy-api-controller"],"summary":"createOrderStrategyWithDate","operationId":"createOrderStrategyWithDateUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"CreateOrderStrategyWithDateRequest","$ref":"#/definitions/CreateOrderStrategyWithDateRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"BaseMsgResponse","$ref":"#/definitions/BaseMsgResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/adstrategy/createTargetStrategy":{"post":{"tags":["ad-strategy-api-controller"],"summary":"设置目标级别的排播","operationId":"createTargetStrategyUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"CreateTargetStrategyRequest","$ref":"#/definitions/CreateTargetStrategyRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"BaseMsgResponse","$ref":"#/definitions/BaseMsgResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/authserver/account/create":{"post":{"tags":["auth-server-controller"],"summary":"创建新账户","operationId":"createAccountUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"CreateAccountRequest","$ref":"#/definitions/CreateAccountRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/authserver/account/list":{"post":{"tags":["auth-server-controller"],"summary":"获取账户列表","operationId":"getAccountListUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"GetAccountListRequest","$ref":"#/definitions/GetAccountListRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"PageResult«GetAccountInfoResponse»","$ref":"#/definitions/PageResult«GetAccountInfoResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/authserver/account/listByProductName":{"post":{"tags":["auth-server-controller"],"summary":"根据产品线获取账户列表","operationId":"getAccountListByProductNameUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"GetAccountListRequest","$ref":"#/definitions/GetAccountListRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"PageResult«VnmAccountInfo»","$ref":"#/definitions/PageResult«VnmAccountInfo»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/authserver/test/account/list":{"post":{"tags":["auth-server-controller"],"summary":"test获取账户列表","operationId":"accountListUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"GetAccountListRequest","$ref":"#/definitions/GetAccountListRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"PageResult«ReferInfoResponse»","$ref":"#/definitions/PageResult«ReferInfoResponse»"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/crmapi/customer/create":{"post":{"tags":["crm-api-controller"],"summary":"创建账户","operationId":"createCustomerUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"CreateOpenApiCustomerRequest","$ref":"#/definitions/CreateOpenApiCustomerRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"CreateOpenApiCustomerResponse","$ref":"#/definitions/CreateOpenApiCustomerResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/crmapi/customer/get/{reportId}":{"get":{"tags":["crm-api-controller"],"summary":"获取账户详情","operationId":"getCustomerByIdUsingGET","produces":["*/*"],"parameters":[{"name":"reportId","in":"path","description":"reportId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"originalRef":"GetCustomerByIdResponse","$ref":"#/definitions/GetCustomerByIdResponse"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/crmapi/customer/modify":{"post":{"tags":["crm-api-controller"],"summary":"修改账户","operationId":"modifyCustomerUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"UpdateOpenApiCustomerRequest","$ref":"#/definitions/UpdateOpenApiCustomerRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"BaseMsgResponse","$ref":"#/definitions/BaseMsgResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/email/send":{"post":{"tags":["email-controller"],"summary":"发送邮件","operationId":"sendEmailUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"SendEmailRequest","$ref":"#/definitions/SendEmailRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"BaseMsgResponse","$ref":"#/definitions/BaseMsgResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/inventory/inquireSufficientTargets":{"post":{"tags":["inventory-api-controller"],"summary":"单城市下，指定投放周期、时长、频次，查询给定点位ID列表中库存充足的点位ID集","operationId":"inquireSufficientTargetsUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"InventoryInquireRequest","$ref":"#/definitions/InventoryInquireRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"InventorySufficientResponse","$ref":"#/definitions/InventorySufficientResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/inventory/inquireSufficientTargetsWithAppId":{"post":{"tags":["inventory-api-controller"],"summary":"单城市下，指定投放周期、时长、频次，查询给定点位ID列表中库存充足的点位ID集","operationId":"inquireSufficientTargetsWithAppIdUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"ca-app-id","in":"header","description":"ca-app-id","required":true,"type":"string"},{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"InventoryInquireRequest","$ref":"#/definitions/InventoryInquireRequest"}}],"responses":{"200":{"description":"OK","schema":{"originalRef":"InventorySufficientResponse","$ref":"#/definitions/InventorySufficientResponse"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/v1/translate/getContent":{"post":{"tags":["translate-controller"],"summary":"查询国际化内容","operationId":"getContentUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"request","description":"request","required":true,"schema":{"originalRef":"TranslateRequest","$ref":"#/definitions/TranslateRequest"}}],"responses":{"200":{"description":"OK","schema":{"type":"string"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}}},"definitions":{"AdUnitDto":{"type":"object","properties":{"accountId":{"type":"string"},"adCampaignId":{"type":"string"},"adCampaignName":{"type":"string"},"adCampaignType":{"type":"string","enum":["KA","VACANT","NONPROFIT","PROPERTY"]},"adSlotName":{"type":"string","description":"广告位"},"adUnitCount":{"type":"integer","format":"int32"},"adUnitId":{"type":"string"},"adUnitItemList":{"type":"array","items":{"originalRef":"AdUnitItemDto","$ref":"#/definitions/AdUnitItemDto"}},"adUnitStatus":{"type":"string","enum":["PENDING","WAIT","SHOW","FINISH","TERMINATED","CANCELLED"]},"adUnitType":{"type":"string","enum":["GUARANTEED","CANDIDATE","CANDIDATE_NON_PREEMPTIVE"]},"auditStatus":{"type":"string","enum":["INITIAL","LOCKED","AUDITED"]},"auditType":{"type":"string"},"baseAdUnitId":{"type":"string"},"brand":{"type":"string"},"cityId":{"type":"string"},"contractNo":{"type":"string"},"contractType":{"type":"string","enum":["CONTRACT","URGENT"]},"createTime":{"type":"string","format":"date-time"},"creator":{"type":"string"},"dayHours":{"type":"array","items":{"type":"integer","format":"int32"}},"dsp":{"type":"boolean"},"dspId":{"type":"string"},"durationInSecond":{"type":"number"},"endDate":{"type":"string","format":"date"},"endTime":{"type":"string","format":"date-time"},"errorTargetIds":{"type":"array","items":{"type":"string"}},"excludeTargetIds":{"type":"array","items":{"type":"string"}},"excludeTargetType":{"type":"string","enum":["LOCATION","SUIT","CITY","PROPERTY_ADMIN","BUILDING"]},"fakeSuit":{"type":"boolean"},"fakeSuitInfo":{"type":"string"},"frequency":{"type":"integer","format":"int32"},"goalLocationNum":{"type":"integer","format":"int32"},"hours":{"type":"array","items":{"type":"integer","format":"int32"}},"industry":{"type":"string"},"needAudit":{"type":"boolean","description":"计划是否需要审核"},"note":{"type":"string"},"pbContent":{"type":"string"},"preemptive":{"type":"boolean"},"productName":{"type":"string"},"publishChanged":{"type":"boolean","description":"是否有引起发布变化的操作，在标记已上刊时标记为false"},"publishTime":{"type":"string","format":"date-time"},"publishVersion":{"type":"integer","format":"int32"},"published":{"type":"boolean"},"realEndDate":{"type":"string","format":"date"},"referId":{"type":"string"},"remark":{"type":"string","description":"备注"},"reserved":{"type":"boolean"},"resourceAreaType":{"type":"string","enum":["SALE","INSTALL"]},"resourceVersion":{"type":"string","description":"在非已上刊情况下也会有资源版本，请配合已上刊标记使用"},"source":{"type":"string","description":"计划来源"},"startDate":{"type":"string","format":"date"},"targetCount":{"type":"integer","format":"int32"},"targetType":{"type":"string","enum":["LOCATION","SUIT","CITY","PROPERTY_ADMIN","BUILDING"]},"updateTime":{"type":"string","format":"date-time"},"urgentExpireDate":{"type":"string","format":"date"}},"title":"AdUnitDto"},"AdUnitItemDto":{"type":"object","properties":{"targetId":{"type":"string"}},"title":"AdUnitItemDto"},"Audit":{"type":"object","properties":{"feedback":{"type":"string"},"lastmod":{"type":"integer","format":"int64"},"status":{"type":"integer","format":"int32"}},"title":"Audit"},"BaseMsgResponse":{"type":"object","properties":{"code":{"type":"string","description":"系统错误编码"},"errorCode":{"type":"integer","format":"int32","description":"0 表示成功"},"message":{"type":"string","description":"系统错误信息"},"msg":{"type":"string","description":"失败原因"},"success":{"type":"boolean","description":"接口是否成功"}},"title":"BaseMsgResponse"},"BatchDownLoadCreativeRequest":{"type":"object","properties":{"creativeIds":{"type":"array","items":{"type":"string"}},"useFilename":{"type":"boolean"},"useInternalDomainName":{"type":"boolean"}},"title":"BatchDownLoadCreativeRequest"},"BuildingInfo":{"type":"object","properties":{"buildingId":{"type":"string"},"buildingName":{"type":"string"}},"title":"BuildingInfo"},"BuildingInfoResponse":{"type":"object","properties":{"code":{"type":"string","description":"系统错误编码"},"data":{"originalRef":"PageResponse«BuildingInfo»","$ref":"#/definitions/PageResponse«BuildingInfo»"},"errorCode":{"type":"integer","format":"int32","description":"0 表示成功"},"message":{"type":"string","description":"系统错误信息"},"msg":{"type":"string","description":"失败原因"},"success":{"type":"boolean","description":"接口是否成功"}},"title":"BuildingInfoResponse"},"CityCodeAndName":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"}},"title":"CityCodeAndName"},"CreateAccountRequest":{"type":"object","properties":{"customerName":{"type":"string"},"email":{"type":"string"},"productName":{"type":"string"}},"title":"CreateAccountRequest"},"CreateAdCampaignRequest":{"type":"object","properties":{"accountId":{"type":"string","description":"accountId"},"adCampaignName":{"type":"string","description":"投放计划名称"},"adCampaignType":{"type":"string","description":"投放计划类型","enum":["KA","VACANT","NONPROFIT","PROPERTY"]},"note":{"type":"string","description":"备注"},"productName":{"type":"string","description":"产品名称，如：SMART_SCREEN,LCD"},"referId":{"type":"string","description":"报备号或项目id或公益单号"}},"title":"CreateAdCampaignRequest"},"CreateAdCampaignResponse":{"type":"object","properties":{"adCampaignId":{"type":"string","description":"计划id"},"code":{"type":"string","description":"系统错误编码"},"errorCode":{"type":"integer","format":"int32","description":"0 表示成功"},"message":{"type":"string","description":"系统错误信息"},"msg":{"type":"string","description":"失败原因"},"success":{"type":"boolean","description":"接口是否成功"}},"title":"CreateAdCampaignResponse"},"CreateAdUnitRequest":{"type":"object","properties":{"adCampaignId":{"type":"string","description":"投放计划id"},"adSlotName":{"type":"string","description":"广告位"},"adUnitTargetIds":{"type":"array","description":"targetIds","items":{"type":"string"}},"adUnitType":{"type":"string","description":"投放单元类型","enum":["GUARANTEED","CANDIDATE","CANDIDATE_NON_PREEMPTIVE"]},"cityId":{"type":"string","description":"城市id"},"dsp":{"type":"boolean","description":"是否DSP"},"dspId":{"type":"string","description":"dsp需要提供DSP ID"},"durationInSecond":{"type":"number","description":"时长，单位：秒","minimum":5,"exclusiveMinimum":false},"endDate":{"type":"string","format":"date","description":"投放结束日期, 包含当天"},"excludeTargetIds":{"type":"array","items":{"type":"string"}},"fakeSuitInfo":{"type":"string"},"frequency":{"type":"integer","format":"int32","description":"频率，单位：次/天","minimum":1.0,"exclusiveMinimum":false},"goalLocationNum":{"type":"integer","format":"int32","description":"可限制点位数量, 挑点单必须设置","minimum":0.0,"maximum":9.223372036854776E+18,"exclusiveMinimum":false,"exclusiveMaximum":false},"hours":{"type":"array","description":"投放时段，包括哪些小时","items":{"type":"integer","format":"int32"}},"ignoreLock":{"type":"boolean"},"remark":{"type":"string"},"scopeEnum":{"type":"string","description":"资源可售还是已安装","enum":["ALL","ON_SALE","OFF_SALE","INSTALL","UNINSTALL"]},"startDate":{"type":"string","format":"date","description":"投放开始日期"},"targetType":{"type":"string","description":"指定了targetType，要指定targetIds","enum":["LOCATION","SUIT","CITY","PROPERTY_ADMIN","BUILDING"]}},"title":"CreateAdUnitRequest"},"CreateAdUnitResponse":{"type":"object","properties":{"adUnitId":{"type":"string","description":"单元id"},"code":{"type":"string","description":"系统错误编码"},"errorCode":{"type":"integer","format":"int32","description":"0 表示成功"},"message":{"type":"string","description":"系统错误信息"},"msg":{"type":"string","description":"失败原因"},"success":{"type":"boolean","description":"接口是否成功"}},"title":"CreateAdUnitResponse"},"CreateOpenApiCustomerRequest":{"type":"object","properties":{"address":{"type":"string"},"checkEmail":{"type":"boolean"},"contact":{"type":"string"},"customerName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"productName":{"type":"string"},"salesEmail":{"type":"string"}},"title":"CreateOpenApiCustomerRequest"},"CreateOpenApiCustomerResponse":{"type":"object","properties":{"code":{"type":"string","description":"系统错误编码"},"errorCode":{"type":"integer","format":"int32","description":"0 表示成功"},"message":{"type":"string","description":"系统错误信息"},"msg":{"type":"string","description":"失败原因"},"reportId":{"type":"string","description":"报备id"},"success":{"type":"boolean","description":"接口是否成功"}},"title":"CreateOpenApiCustomerResponse"},"CreateOrderStrategyRequest":{"type":"object","required":["bidderId"],"properties":{"bidderId":{"type":"string","description":"AccountID"},"creativeGroupIds":{"type":"array","description":"创意组","items":{"type":"string"}},"orderId":{"type":"string","description":"订单id"}},"title":"CreateOrderStrategyRequest"},"CreateOrderStrategyWithDateRequest":{"type":"object","required":["bidderId"],"properties":{"bidderId":{"type":"string","description":"AccountID"},"creativeGroupIds":{"type":"array","description":"创意组","items":{"type":"string"}},"endDate":{"type":"string","format":"date","description":"结束日期"},"orderId":{"type":"string","description":"订单id"},"startDate":{"type":"string","format":"date","description":"开始日期"}},"title":"CreateOrderStrategyWithDateRequest"},"CreateTargetStrategyRequest":{"type":"object","required":["bidderId"],"properties":{"adTargetSet":{"type":"array","description":"排播的目标级别","items":{"originalRef":"TargetStrategyRequest","$ref":"#/definitions/TargetStrategyRequest"}},"bidderId":{"type":"string","description":"AccountID"},"defaultCreativeGroupIds":{"type":"array","description":"打底排播创意组","items":{"type":"string"}},"orderId":{"type":"string","description":"订单id"}},"title":"CreateTargetStrategyRequest"},"CreativeDownloadResponse":{"type":"object","properties":{"creativeId":{"type":"string"},"downloadUrl":{"type":"string"}},"title":"CreativeDownloadResponse"},"CreativeGroupResponse":{"type":"object","properties":{"code":{"type":"string","description":"系统错误编码"},"data":{"originalRef":"PageResponse«RtbCreativeGroupResponse»","$ref":"#/definitions/PageResponse«RtbCreativeGroupResponse»"},"errorCode":{"type":"integer","format":"int32","description":"0 表示成功"},"message":{"type":"string","description":"系统错误信息"},"msg":{"type":"string","description":"失败原因"},"success":{"type":"boolean","description":"接口是否成功"}},"title":"CreativeGroupResponse"},"Display":{"type":"object","properties":{"duration":{"type":"number"},"mime":{"type":"string"}},"title":"Display"},"GetAccountInfoResponse":{"type":"object","properties":{"accountId":{"type":"string","description":"账户id"},"accountType":{"type":"string","description":"账户类型","enum":["INNER_CUSTOMER","NONPROFIT","PROPERTY_ADMIN","RETAIL_CUSTOMER","DISTRIBUTOR","DISTRIBUTION_KA_CUSTOMER","DISTRIBUTION_SME_CUSTOMER","SME_CUSTOMER","EMPLOYEE","GLOBAL"]},"adCampaignCount":{"type":"integer","format":"int32","description":"计划数量"},"productName":{"type":"string","description":"产品线"},"redundancyRate":{"type":"number","description":"账户冗余比例"},"referName":{"type":"string","description":"账户名称"},"reportId":{"type":"string","description":"报备id"},"salesName":{"type":"string","description":"销售姓名"}},"title":"GetAccountInfoResponse"},"GetAccountListRequest":{"type":"object","properties":{"accountTypeSet":{"type":"array","items":{"type":"string","enum":["INNER_CUSTOMER","NONPROFIT","PROPERTY_ADMIN","RETAIL_CUSTOMER","DISTRIBUTOR","DISTRIBUTION_KA_CUSTOMER","DISTRIBUTION_SME_CUSTOMER","SME_CUSTOMER","EMPLOYEE","GLOBAL"]}},"pageNo":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"productName":{"type":"string"},"referName":{"type":"string"},"saleName":{"type":"string"}},"title":"GetAccountListRequest"},"GetAdCampaignResponse":{"type":"object","properties":{"accountId":{"type":"string"},"adCampaignId":{"type":"string"},"adCampaignName":{"type":"string"},"adCampaignType":{"type":"string","enum":["KA","VACANT","NONPROFIT","PROPERTY"]},"adUnitCount":{"type":"integer","format":"int32"},"auditStatus":{"type":"string","enum":["INITIAL","LOCKED","AUDITED"]},"auditType":{"type":"string"},"brand":{"type":"string"},"code":{"type":"string","description":"系统错误编码"},"contractNo":{"type":"string"},"contractType":{"type":"string","enum":["CONTRACT","URGENT"]},"createTime":{"type":"string","format":"date-time"},"creator":{"type":"string"},"errorCode":{"type":"integer","format":"int32","description":"0 表示成功"},"industry":{"type":"string"},"message":{"type":"string","description":"系统错误信息"},"msg":{"type":"string","description":"失败原因"},"needAudit":{"type":"boolean","description":"计划是否需要审核"},"note":{"type":"string"},"pbContent":{"type":"string"},"productName":{"type":"string"},"referId":{"type":"string"},"source":{"type":"string","description":"计划来源"},"success":{"type":"boolean","description":"接口是否成功"},"urgentExpireDate":{"type":"string","format":"date"}},"title":"GetAdCampaignResponse"},"GetAdUnitResponse":{"type":"object","properties":{"adSlotName":{"type":"string","description":"广告位置"},"adUnitId":{"type":"string","description":"单元id"},"adUnitItemList":{"type":"array","description":"套装","items":{"originalRef":"AdUnitItemDto","$ref":"#/definitions/AdUnitItemDto"}},"adUnitStatus":{"type":"string","description":"单元状态","enum":["PENDING","WAIT","SHOW","FINISH","TERMINATED","CANCELLED"]},"adUnitType":{"type":"string","description":"单元类型","enum":["GUARANTEED","CANDIDATE","CANDIDATE_NON_PREEMPTIVE"]},"broadcast":{"type":"boolean","description":"是否排播"},"cityId":{"type":"string","description":"投放城市"},"createTime":{"type":"string","format":"date-time","description":"创建时间"},"dsp":{"type":"boolean","description":"交易模式"},"durationInSecond":{"type":"number","description":"时长"},"endDate":{"type":"string","format":"date","description":"投放结束时间"},"frequency":{"type":"integer","format":"int32","description":"频次"},"goalLocationNum":{"type":"integer","format":"int32","description":"所需点位数"},"hours":{"type":"array","description":"投放时段","items":{"type":"integer","format":"int32"}},"startDate":{"type":"string","format":"date","description":"投放开始时间"},"targetType":{"type":"string","description":"购买方式","enum":["LOCATION","SUIT","CITY","PROPERTY_ADMIN","BUILDING"]}},"title":"GetAdUnitResponse"},"GetCampaignResponse":{"type":"object","properties":{"accountId":{"type":"string","description":"账户id"},"adCampaignId":{"type":"string","description":"计划id"},"adCampaignName":{"type":"string","description":"计划名称"},"adCampaignSource":{"type":"string","description":"计划来源"},"adCampaignType":{"type":"string","description":"计划类型","enum":["KA","VACANT","NONPROFIT","PROPERTY"]},"adUnitCount":{"type":"integer","format":"int32","description":"单元数量"},"auditStatus":{"type":"string","description":"审核状态","enum":["INITIAL","LOCKED","AUDITED"]},"contractNo":{"type":"string","description":"合同号"},"createTime":{"type":"string","format":"date-time","description":"创建时间"},"note":{"type":"string","description":"需求备注"},"referId":{"type":"string","description":"报备号"}},"title":"GetCampaignResponse"},"GetCustomerByIdResponse":{"type":"object","properties":{"address":{"type":"string"},"code":{"type":"string","description":"系统错误编码"},"contact":{"type":"string"},"customerName":{"type":"string"},"email":{"type":"string"},"errorCode":{"type":"integer","format":"int32","description":"0 表示成功"},"message":{"type":"string","description":"系统错误信息"},"msg":{"type":"string","description":"失败原因"},"phone":{"type":"string"},"productName":{"type":"string"},"reportId":{"type":"string"},"salesEmail":{"type":"string"},"salesName":{"type":"string"},"salesWorkNo":{"type":"string"},"success":{"type":"boolean","description":"接口是否成功"}},"title":"GetCustomerByIdResponse"},"GetPublishDetailRequest":{"type":"object","required":["adCycleId","locationId"],"properties":{"adCycleId":{"type":"string","description":"广告周期ID"},"locationId":{"type":"integer","format":"int64","description":"点位ID"},"pageNo":{"type":"integer","format":"int32","description":"页码(1-based)"},"pageSize":{"type":"integer","format":"int32","description":"每页大小 [1, 1000]","maximum":1000.0,"exclusiveMaximum":false}},"title":"GetPublishDetailRequest"},"InquireInventoryResponse":{"type":"object","properties":{"insufficientNum":{"type":"integer","format":"int32","description":"不足目标数"},"insufficientTargetIds":{"type":"array","description":"库存不足目标ID列表","items":{"type":"string"}},"notFoundNum":{"type":"integer","format":"int32","description":"异动目标数"},"notFoundTargetIds":{"type":"array","description":"无效目标ID列表","items":{"type":"string"}},"notMatchNum":{"type":"integer","format":"int32","description":"不符合目标数"},"success":{"type":"boolean","description":"库存是否充足"},"sufficientNum":{"type":"integer","format":"int32","description":"充足目标数"}},"title":"InquireInventoryResponse"},"InventoryInquireRequest":{"type":"object","required":["cityId","durationInSecond","endDate","frequency","startDate","targetIds"],"properties":{"cityId":{"type":"string","description":"标准城市ID"},"durationInSecond":{"type":"number","description":"时长，每次播放的时长","minimum":10,"exclusiveMinimum":false},"endDate":{"type":"string","format":"date","description":"投放期的结束日期"},"frequency":{"type":"integer","format":"int32","description":"频次，每天播放的次数","minimum":180.0,"exclusiveMinimum":false},"goalLocationNum":{"type":"integer","format":"int32"},"hours":{"type":"array","items":{"type":"integer","format":"int32"}},"productName":{"type":"string","description":"产品线"},"scopeEnum":{"type":"string","enum":["ALL","ON_SALE","OFF_SALE","INSTALL","UNINSTALL"]},"startDate":{"type":"string","format":"date","description":"投放期的开始日期"},"targetIds":{"type":"array","description":"投放点位ID列表","items":{"type":"string"}},"targetType":{"type":"string","enum":["LOCATION","SUIT","CITY","PROPERTY_ADMIN","BUILDING"]}},"title":"InventoryInquireRequest"},"InventorySufficientResponse":{"type":"object","properties":{"code":{"type":"string","description":"系统错误编码"},"errorCode":{"type":"integer","format":"int32","description":"0 表示成功"},"message":{"type":"string","description":"系统错误信息"},"msg":{"type":"string","description":"失败原因"},"success":{"type":"boolean","description":"接口是否成功"},"targetIds":{"type":"array","description":"库存充足点位ID列表","items":{"type":"string"}}},"title":"InventorySufficientResponse"},"LocationDetail":{"type":"object","properties":{"buildingId":{"type":"string"},"buildingName":{"type":"string"},"deviceStyleId":{"type":"string"},"deviceStyleName":{"type":"string"},"installLocation":{"type":"string"},"locationDesc":{"type":"string"},"locationId":{"type":"string"},"siteName":{"type":"string"},"unitName":{"type":"string"}},"title":"LocationDetail"},"LocationInfoResponse":{"type":"object","properties":{"code":{"type":"string","description":"系统错误编码"},"data":{"type":"array","items":{"originalRef":"LocationDetail","$ref":"#/definitions/LocationDetail"}},"errorCode":{"type":"integer","format":"int32","description":"0 表示成功"},"message":{"type":"string","description":"系统错误信息"},"msg":{"type":"string","description":"失败原因"},"success":{"type":"boolean","description":"接口是否成功"}},"title":"LocationInfoResponse"},"ModifyAdUnitRequest":{"type":"object","properties":{"adSlotName":{"type":"string","description":"广告位"},"adUnitId":{"type":"string","description":"投放单元id"},"adUnitTargetIds":{"type":"array","description":"targetIds","items":{"type":"string"}},"adUnitType":{"type":"string","description":"投放单元类型","enum":["GUARANTEED","CANDIDATE","CANDIDATE_NON_PREEMPTIVE"]},"cityId":{"type":"string","description":"城市id，外部无法赋值，永远与原单元一致"},"dsp":{"type":"boolean","description":"是否DSP"},"dspId":{"type":"string","description":"dsp需要提供DSP ID"},"durationInSecond":{"type":"number","description":"时长，单位：秒","minimum":5,"exclusiveMinimum":false},"endDate":{"type":"string","format":"date","description":"投放结束日期, 包含当天"},"fakeSuitInfo":{"type":"string"},"frequency":{"type":"integer","format":"int32","description":"频率，单位：次/天","minimum":1.0,"exclusiveMinimum":false},"goalLocationNum":{"type":"integer","format":"int32","description":"可限制点位数量, 挑点单必须设置","minimum":0.0,"maximum":9.223372036854776E+18,"exclusiveMinimum":false,"exclusiveMaximum":false},"hours":{"type":"array","description":"投放时段，包括哪些小时","items":{"type":"integer","format":"int32"}},"remark":{"type":"string"},"scopeEnum":{"type":"string","description":"资源可售还是已安装","enum":["ALL","ON_SALE","OFF_SALE","INSTALL","UNINSTALL"]},"startDate":{"type":"string","format":"date","description":"投放开始日期"},"targetType":{"type":"string","description":"指定了targetType，要指定targetIds","enum":["LOCATION","SUIT","CITY","PROPERTY_ADMIN","BUILDING"]}},"title":"ModifyAdUnitRequest"},"OrderCreateRequest":{"type":"object","required":["bidderId","dsp","durationInSecond","endDate","frequency","orderItems","startDate"],"properties":{"bidderId":{"type":"string","description":"AccountID"},"dsp":{"type":"boolean","description":"是否程序化"},"durationInSecond":{"type":"number","description":"时长，每次播放的时长","minimum":10,"exclusiveMinimum":false},"endDate":{"type":"string","format":"date","description":"投放期的结束日期"},"frequency":{"type":"integer","format":"int32","description":"频次，每天播放的次数","minimum":180.0,"exclusiveMinimum":false},"hours":{"type":"array","items":{"type":"integer","format":"int32"}},"orderItems":{"type":"array","description":"订单项, 城市id为唯一key","items":{"originalRef":"OrderItemCreateRequest","$ref":"#/definitions/OrderItemCreateRequest"}},"productName":{"type":"string","description":"产品线"},"startDate":{"type":"string","format":"date","description":"投放期的开始日期"}},"title":"OrderCreateRequest"},"OrderCreateResponse":{"type":"object","properties":{"code":{"type":"string","description":"系统错误编码"},"errorCode":{"type":"integer","format":"int32","description":"0 表示成功"},"message":{"type":"string","description":"系统错误信息"},"msg":{"type":"string","description":"失败原因"},"orderId":{"type":"string","description":"orderId，对应kuma的计划id"},"success":{"type":"boolean","description":"接口是否成功"}},"title":"OrderCreateResponse"},"OrderDetailResponse":{"type":"object","properties":{"code":{"type":"string","description":"系统错误编码"},"errorCode":{"type":"integer","format":"int32","description":"0 表示成功"},"message":{"type":"string","description":"系统错误信息"},"msg":{"type":"string","description":"失败原因"},"orderResult":{"originalRef":"OrderResult","$ref":"#/definitions/OrderResult"},"success":{"type":"boolean","description":"接口是否成功"}},"title":"OrderDetailResponse"},"OrderIdRequest":{"type":"object","required":["bidderId","orderId"],"properties":{"bidderId":{"type":"string","description":"AccountID"},"orderId":{"type":"string","description":"计划ID"}},"title":"OrderIdRequest"},"OrderItemCreateRequest":{"type":"object","required":["cityId","goalLocationNum","targetIds"],"properties":{"cityId":{"type":"string","description":"标准城市ID"},"goalLocationNum":{"type":"integer","format":"int32","description":"可限制点位数量","minimum":0.0,"maximum":9.223372036854776E+18,"exclusiveMinimum":false,"exclusiveMaximum":false},"scopeEnum":{"type":"string","enum":["ALL","ON_SALE","OFF_SALE","INSTALL","UNINSTALL"]},"targetIds":{"type":"array","description":"投放点位ID列表","items":{"type":"string"}},"targetType":{"type":"string","enum":["LOCATION","SUIT","CITY","PROPERTY_ADMIN","BUILDING"]}},"title":"OrderItemCreateRequest"},"OrderItemResult":{"type":"object","properties":{"cityId":{"type":"string","description":"标准城市id"},"goalLocationNum":{"type":"integer","format":"int32","description":"实际期望点位数量"},"reservedLocationIds":{"type":"array","description":"实际锁位的点位id列表","items":{"type":"string"}},"targetIds":{"type":"array","description":"投放范围的targetIds","items":{"type":"string"}}},"title":"OrderItemResult"},"OrderQueryRequest":{"type":"object","required":["pageNo","pageSize"],"properties":{"pageNo":{"type":"integer","format":"int32","description":"页数"},"pageSize":{"type":"integer","format":"int32","description":"分页大小"},"productName":{"type":"string","description":"产品线"}},"title":"OrderQueryRequest"},"OrderResult":{"type":"object","properties":{"createTime":{"type":"string","format":"date-time","description":"创建时间"},"dsp":{"type":"boolean","description":"是否是程序化单元"},"durationInSecond":{"type":"number","description":"时长，每次播放的时长"},"endDate":{"type":"string","format":"date","description":"投放期的结束日期"},"endTime":{"type":"string","format":"date-time","description":"单元实际结束时间，提前结束导致的"},"frequency":{"type":"integer","format":"int32","description":"频次，每天播放的次数"},"hasDefaultAdStrategy":{"type":"boolean","description":"对于程序化单元是否设置了打底素材, 对于非程序化单元是否已排播, 只有WAIT和SHOW状态该值才有效"},"maxCancelTime":{"type":"string","format":"date-time","description":"最晚取消时间"},"orderId":{"type":"string","description":"订单id"},"orderItems":{"type":"array","description":"订单项","items":{"originalRef":"OrderItemResult","$ref":"#/definitions/OrderItemResult"}},"orderStatus":{"type":"string","description":"计划状态","enum":["PENDING","WAIT","SHOW","FINISH","TERMINATED","CANCELLED"]},"startDate":{"type":"string","format":"date","description":"投放期的开始日期"}},"title":"OrderResult"},"PageResponse«BuildingInfo»":{"type":"object","properties":{"pageNo":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"result":{"type":"array","items":{"originalRef":"BuildingInfo","$ref":"#/definitions/BuildingInfo"}},"totalCount":{"type":"integer","format":"int32"},"totalPage":{"type":"integer","format":"int32"}},"title":"PageResponse«BuildingInfo»"},"PageResponse«RtbCreativeGroupResponse»":{"type":"object","properties":{"pageNo":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"result":{"type":"array","items":{"originalRef":"RtbCreativeGroupResponse","$ref":"#/definitions/RtbCreativeGroupResponse"}},"totalCount":{"type":"integer","format":"int32"},"totalPage":{"type":"integer","format":"int32"}},"title":"PageResponse«RtbCreativeGroupResponse»"},"PageResult«GetAccountInfoResponse»":{"type":"object","properties":{"order":{"type":"string","description":"排序顺序"},"orderBy":{"type":"string","description":"排序字段"},"pageNo":{"type":"integer","format":"int32","description":"当前页数(1-based)"},"pageSize":{"type":"integer","format":"int32","description":"分页大小"},"result":{"type":"array","description":"本页结果","items":{"originalRef":"GetAccountInfoResponse","$ref":"#/definitions/GetAccountInfoResponse"}},"totalCount":{"type":"integer","format":"int32","description":"命中总数"},"totalPage":{"type":"integer","format":"int32","description":"总页数"}},"title":"PageResult«GetAccountInfoResponse»","description":"分页查询的响应"},"PageResult«GetAdUnitResponse»":{"type":"object","properties":{"order":{"type":"string","description":"排序顺序"},"orderBy":{"type":"string","description":"排序字段"},"pageNo":{"type":"integer","format":"int32","description":"当前页数(1-based)"},"pageSize":{"type":"integer","format":"int32","description":"分页大小"},"result":{"type":"array","description":"本页结果","items":{"originalRef":"GetAdUnitResponse","$ref":"#/definitions/GetAdUnitResponse"}},"totalCount":{"type":"integer","format":"int32","description":"命中总数"},"totalPage":{"type":"integer","format":"int32","description":"总页数"}},"title":"PageResult«GetAdUnitResponse»","description":"分页查询的响应"},"PageResult«GetCampaignResponse»":{"type":"object","properties":{"order":{"type":"string","description":"排序顺序"},"orderBy":{"type":"string","description":"排序字段"},"pageNo":{"type":"integer","format":"int32","description":"当前页数(1-based)"},"pageSize":{"type":"integer","format":"int32","description":"分页大小"},"result":{"type":"array","description":"本页结果","items":{"originalRef":"GetCampaignResponse","$ref":"#/definitions/GetCampaignResponse"}},"totalCount":{"type":"integer","format":"int32","description":"命中总数"},"totalPage":{"type":"integer","format":"int32","description":"总页数"}},"title":"PageResult«GetCampaignResponse»","description":"分页查询的响应"},"PageResult«PublishDetailByAdCycleIdReponse»":{"type":"object","properties":{"order":{"type":"string","description":"排序顺序"},"orderBy":{"type":"string","description":"排序字段"},"pageNo":{"type":"integer","format":"int32","description":"当前页数(1-based)"},"pageSize":{"type":"integer","format":"int32","description":"分页大小"},"result":{"type":"array","description":"本页结果","items":{"originalRef":"PublishDetailByAdCycleIdReponse","$ref":"#/definitions/PublishDetailByAdCycleIdReponse"}},"totalCount":{"type":"integer","format":"int32","description":"命中总数"},"totalPage":{"type":"integer","format":"int32","description":"总页数"}},"title":"PageResult«PublishDetailByAdCycleIdReponse»","description":"分页查询的响应"},"PageResult«PublishDetailReponse»":{"type":"object","properties":{"order":{"type":"string","description":"排序顺序"},"orderBy":{"type":"string","description":"排序字段"},"pageNo":{"type":"integer","format":"int32","description":"当前页数(1-based)"},"pageSize":{"type":"integer","format":"int32","description":"分页大小"},"result":{"type":"array","description":"本页结果","items":{"originalRef":"PublishDetailReponse","$ref":"#/definitions/PublishDetailReponse"}},"totalCount":{"type":"integer","format":"int32","description":"命中总数"},"totalPage":{"type":"integer","format":"int32","description":"总页数"}},"title":"PageResult«PublishDetailReponse»","description":"分页查询的响应"},"PageResult«ReferInfoResponse»":{"type":"object","properties":{"order":{"type":"string","description":"排序顺序"},"orderBy":{"type":"string","description":"排序字段"},"pageNo":{"type":"integer","format":"int32","description":"当前页数(1-based)"},"pageSize":{"type":"integer","format":"int32","description":"分页大小"},"result":{"type":"array","description":"本页结果","items":{"originalRef":"ReferInfoResponse","$ref":"#/definitions/ReferInfoResponse"}},"totalCount":{"type":"integer","format":"int32","description":"命中总数"},"totalPage":{"type":"integer","format":"int32","description":"总页数"}},"title":"PageResult«ReferInfoResponse»","description":"分页查询的响应"},"PageResult«VnmAccountInfo»":{"type":"object","properties":{"order":{"type":"string","description":"排序顺序"},"orderBy":{"type":"string","description":"排序字段"},"pageNo":{"type":"integer","format":"int32","description":"当前页数(1-based)"},"pageSize":{"type":"integer","format":"int32","description":"分页大小"},"result":{"type":"array","description":"本页结果","items":{"originalRef":"VnmAccountInfo","$ref":"#/definitions/VnmAccountInfo"}},"totalCount":{"type":"integer","format":"int32","description":"命中总数"},"totalPage":{"type":"integer","format":"int32","description":"总页数"}},"title":"PageResult«VnmAccountInfo»","description":"分页查询的响应"},"PageResult«VnmCampaignResponse»":{"type":"object","properties":{"order":{"type":"string","description":"排序顺序"},"orderBy":{"type":"string","description":"排序字段"},"pageNo":{"type":"integer","format":"int32","description":"当前页数(1-based)"},"pageSize":{"type":"integer","format":"int32","description":"分页大小"},"result":{"type":"array","description":"本页结果","items":{"originalRef":"VnmCampaignResponse","$ref":"#/definitions/VnmCampaignResponse"}},"totalCount":{"type":"integer","format":"int32","description":"命中总数"},"totalPage":{"type":"integer","format":"int32","description":"总页数"}},"title":"PageResult«VnmCampaignResponse»","description":"分页查询的响应"},"PageResult«string»":{"type":"object","properties":{"order":{"type":"string","description":"排序顺序"},"orderBy":{"type":"string","description":"排序字段"},"pageNo":{"type":"integer","format":"int32","description":"当前页数(1-based)"},"pageSize":{"type":"integer","format":"int32","description":"分页大小"},"result":{"type":"array","description":"本页结果","items":{"type":"string"}},"totalCount":{"type":"integer","format":"int32","description":"命中总数"},"totalPage":{"type":"integer","format":"int32","description":"总页数"}},"title":"PageResult«string»","description":"分页查询的响应"},"PublishDetailByAdCycleIdReponse":{"type":"object","properties":{"adCampaignId":{"type":"string","description":"计划 id"},"adCampaignName":{"type":"string","description":"计划名称"},"adUnitStatus":{"type":"string","description":"单元 状态"},"buildingId":{"type":"integer","format":"int64","description":"项目ID"},"contractNo":{"type":"string","description":"合同号"},"creativeThumbnailUrls":{"type":"array","description":"创意视频的缩略图链接","items":{"type":"string"}},"creativeTransUrls":{"type":"array","description":"创意原始图片和转码后的视频链接","items":{"type":"string"}},"endDate":{"type":"string","format":"date","description":"结束日期"},"startDate":{"type":"string","format":"date","description":"开始日期"}},"title":"PublishDetailByAdCycleIdReponse"},"PublishDetailReponse":{"type":"object","properties":{"adCampaignId":{"type":"string","description":"计划 id"},"adCampaignTypeName":{"type":"string","description":"计划类型名称"},"adUnitId":{"type":"string","description":"单元 id"},"adUnitStatus":{"type":"string","description":"单元 状态"},"address":{"type":"string","description":"项目地址"},"areaName":{"type":"string","description":"行政区"},"buildingId":{"type":"integer","format":"int64","description":"项目ID"},"buildingName":{"type":"string","description":"项目名称"},"buildingTypeName":{"type":"string","description":"项目类型"},"cityId":{"type":"string","description":"标准城市 id"},"cityName":{"type":"string","description":"标准城市名称"},"contractNo":{"type":"string","description":"合同号"},"creativeNames":{"type":"array","description":"素材列表","items":{"type":"string"}},"creativeThumbnailUrls":{"type":"array","description":"创意视频的缩略图链接","items":{"type":"string"}},"creativeTransUrls":{"type":"array","description":"创意原始图片和转码后的视频链接","items":{"type":"string"}},"deviceStyleId":{"type":"string","description":"机型"},"deviceStyleName":{"type":"string","description":"机型名称"},"duration":{"type":"number","description":"时长, 单位: 秒"},"endDate":{"type":"string","format":"date","description":"结束日期"},"forMonitor":{"type":"boolean","description":"是否可用于监测"},"frequency":{"type":"integer","format":"int32","description":"频次"},"locationDesc":{"type":"string","description":"点位位置 （运营安装名称/运营安装区域/运营安装位置/运营具体安装位置）"},"locationId":{"type":"integer","format":"int64","description":"点位 id"},"locationSaleable":{"type":"boolean","description":"点位 是否可售"},"salesCityCode":{"type":"string","description":"销售城市编码"},"salesCityName":{"type":"string","description":"销售城市名称"},"startDate":{"type":"string","format":"date","description":"开始日期"},"suitCode":{"type":"string","description":"套装"},"suitName":{"type":"string","description":"套装名称"}},"title":"PublishDetailReponse"},"ReferInfoResponse":{"type":"object","properties":{"accountId":{"type":"string"},"accountSource":{"type":"string","enum":["KUMA","ARK"]},"cityId":{"type":"string"},"employeeEmail":{"type":"string"},"employeeId":{"type":"string"},"employeeName":{"type":"string"},"redundancyRate":{"type":"number"},"referId":{"type":"string"},"referName":{"type":"string"},"type":{"type":"string","enum":["INNER_CUSTOMER","NONPROFIT","PROPERTY_ADMIN","RETAIL_CUSTOMER","DISTRIBUTOR","DISTRIBUTION_KA_CUSTOMER","DISTRIBUTION_SME_CUSTOMER","SME_CUSTOMER","EMPLOYEE","GLOBAL"]}},"title":"ReferInfoResponse"},"ReserveAdUnitResponse":{"type":"object","properties":{"insufficientNum":{"type":"integer","format":"int32","description":"库存不足目标数"},"notFoundNum":{"type":"integer","format":"int32","description":"异动目标数"},"notMatchNum":{"type":"integer","format":"int32","description":"不符合目标数"},"reserveUuid":{"type":"string"},"success":{"type":"boolean","description":"是否锁位成功"},"sufficientNum":{"type":"integer","format":"int32","description":"库存充足目标数"}},"title":"ReserveAdUnitResponse"},"ResourceRangeRequest":{"type":"object","properties":{"cityId":{"type":"string"},"productName":{"type":"string"},"targetIds":{"type":"array","items":{"type":"string"}},"targetType":{"type":"string","description":"当前只支持点位和项目","enum":["LOCATION","SUIT","CITY","PROPERTY_ADMIN","BUILDING"]}},"title":"ResourceRangeRequest"},"ResourceRequest":{"type":"object","properties":{"cityId":{"type":"string"},"pageNo":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"productName":{"type":"string"}},"title":"ResourceRequest"},"RtbCreative":{"type":"object","properties":{"devicestyle":{"type":"string"},"materials":{"type":"array","items":{"originalRef":"RtbMaterial","$ref":"#/definitions/RtbMaterial"}}},"title":"RtbCreative"},"RtbCreativeGroupRequest":{"type":"object","properties":{"creatives":{"type":"array","items":{"originalRef":"RtbCreative","$ref":"#/definitions/RtbCreative"}},"duration":{"type":"number"}},"title":"RtbCreativeGroupRequest"},"RtbCreativeGroupResponse":{"type":"object","properties":{"audit":{"originalRef":"Audit","$ref":"#/definitions/Audit"},"id":{"type":"string"},"lastmod":{"type":"integer","format":"int64"}},"title":"RtbCreativeGroupResponse"},"RtbMaterial":{"type":"object","required":["display"],"properties":{"display":{"originalRef":"Display","$ref":"#/definitions/Display"},"filename":{"type":"string"},"id":{"type":"string"},"iurl":{"type":"string"}},"title":"RtbMaterial"},"SendEmailRequest":{"type":"object","required":["phoneNumber"],"properties":{"content":{"type":"string"},"phoneNumber":{"type":"string"},"userEmails":{"type":"array","items":{"type":"string"}}},"title":"SendEmailRequest"},"StandardCityResponse":{"type":"object","properties":{"cityList":{"type":"array","items":{"originalRef":"CityCodeAndName","$ref":"#/definitions/CityCodeAndName"}},"code":{"type":"string","description":"系统错误编码"},"errorCode":{"type":"integer","format":"int32","description":"0 表示成功"},"message":{"type":"string","description":"系统错误信息"},"msg":{"type":"string","description":"失败原因"},"success":{"type":"boolean","description":"接口是否成功"}},"title":"StandardCityResponse"},"TargetSetRequest":{"type":"object","properties":{"creativeGroupIds":{"type":"array","description":"排播的创意组id","items":{"type":"string"}},"targetId":{"type":"string","description":"排播目标id (项目)"},"targetType":{"type":"string","description":"排播目标级别 (项目)","enum":["UNIT","AREA","SUIT","DOORWAY","BUILDING","LOCATION"]}},"title":"TargetSetRequest"},"TargetStrategyRequest":{"type":"object","properties":{"cityId":{"type":"string","description":"排播城市id"},"targets":{"type":"array","description":"排播目标 (项目)","items":{"originalRef":"TargetSetRequest","$ref":"#/definitions/TargetSetRequest"}}},"title":"TargetStrategyRequest"},"TranslateRequest":{"type":"object","required":["key","language","module"],"properties":{"key":{"type":"string"},"language":{"type":"string","enum":["CHINESE","ENGLISH"]},"module":{"type":"string","enum":["AD_GROUP","CREATIVE"]}},"title":"TranslateRequest"},"UpdateAdCampaignRequest":{"type":"object","properties":{"adCampaignId":{"type":"string","description":"计划id"},"adCampaignName":{"type":"string","description":"投放计划名称"},"note":{"type":"string","description":"备注"}},"title":"UpdateAdCampaignRequest"},"UpdateOpenApiCustomerRequest":{"type":"object","properties":{"address":{"type":"string"},"contact":{"type":"string"},"customerName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"reportId":{"type":"string"},"salesEmail":{"type":"string"}},"title":"UpdateOpenApiCustomerRequest"},"VnmAccountInfo":{"type":"object","properties":{"accountName":{"type":"string","description":"账户类型"},"accountType":{"type":"string","description":"账户类型"},"referId":{"type":"string","description":"账户id,相当于kuma的报备号"}},"title":"VnmAccountInfo"},"VnmCampaignRequest":{"type":"object","properties":{"pageNo":{"type":"integer","format":"int32","minimum":1.0,"exclusiveMinimum":false},"pageSize":{"type":"integer","format":"int32","minimum":1.0,"exclusiveMinimum":false},"referId":{"type":"string"}},"title":"VnmCampaignRequest"},"VnmCampaignResponse":{"type":"object","properties":{"adCampaignId":{"type":"string","description":"计划id"},"adCampaignName":{"type":"string","description":"计划名称"},"adCampaignType":{"type":"string","description":"计划类型"},"createTime":{"type":"string","format":"date-time","description":"创建时间"},"note":{"type":"string","description":"需求备注"},"referId":{"type":"string","description":"报备号"}},"title":"VnmCampaignResponse"}}}